[Service]
User=root
WorkingDirectory=/home/smm_bot/profile
ExecStart=/usr/bin/python3 Backend.py
Restart=always

[Install]
WantedBy=multi-user.target
