[Service]
User=root
WorkingDirectory=/home/rynoksmm_rebuild/API
ExecStart=/usr/bin/python3 Backend.py
Restart=always

[Install]
WantedBy=multi-user.target
