[Service]
User=root
WorkingDirectory=/home/rynoksmm/API
ExecStart=/home/rynoksmm/venv/bin/python3 Backend.py
Restart=always

[Install]
WantedBy=multi-user.target
